.spinner {
    width: 180px;
    height: 180px;
    margin: 100px auto;
    background-color: #3B559B;

    border-radius: 100%;
    animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0)
    } 100% {
          -webkit-transform: scale(1.0);
          opacity: 0;
      }
}

@keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}