.card {
  width: calc(100% - 6px);
  word-wrap: break-word;
  margin: 0 auto 16px;
  @media (max-width: 1100px) {
    margin-bottom: 0;
  }
}

.title {
  padding-bottom: 0;
  height: 200px;
}

.titleText {
  font-size: 18px;
  font-weight: 600;
  color: #585858;
  text-align: left;
  min-height: 55px;
  @media (max-width: 1280px) {
    min-height: 75px;
  }
  @media (max-width: 1100px) {
    padding-top: 0;
  }
  @media (max-width: 1000px) {
    min-height: 90px;
  }
}

.supportingTextDescription,
.previewButton {
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}