.shade {
  height: 100%;
  width: 100%;
  z-index: 8;
  opacity: 0.2;
  background-color: #000;
  position: fixed;
}

.promptTokenRefresh {
  z-index: 10;
  position: fixed;
  width: 550px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 10%;
}

.description {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.description p {
  font-size: 16px;
  text-align: center;
}

.time {
  text-align: center;
}

.buttons {
  width: 100%;
  padding-bottom: 50px;
}

.buttonsLeft {
  width: calc(50% - 10px);
  float: left;
  text-align: right;
  padding-right: 10px;
}

.buttonsLeft > button {
  color: #fff;
}

.buttonsRight {
  width: calc(50% - 10px);
  float: right;
  padding-right: 10px;
}
