.content {
  height: calc(100vh - 64px);
  :global {
    .question-image {
      height: calc(100% - 121px);
    }
    .question-wrapper {
      height: 70%;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.answerWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
  :global {
    .next-button {
      width: 400px;
      height: 60px;
      font-size: 2em;
      line-height: 60px;
    }
    .correct-button,
    .incorrect-button {
      width: 200px;
      height: 60px;
      font-size: 2em;
      line-height: 60px;
      margin: 0 10px;
    }
    .correct-button {
      background-color: #2B7C65;
    }
    .incorrect-button {
      background-color: #D01823;
    }
    .material-icons {
      font-size: 50px;
    }
  }
}