.wrapper {
  position: relative;
}

.back {
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.backIcon {
  font-size: 22px;
  color: #000;
  z-index: 99;
}

.noData {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}