:global {
  .report-modal-overlay,
  .settings-modal-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    * {
      box-sizing: border-box;
    }
  }
  .report,
  .settings-modal {
    position: static;
    min-height: 180px;
    min-width: 700px;
    max-width: 1280px;
    width: calc(100% - 200px);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    outline: none;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2);
  }
  .report-modal-overlay {
    z-index: 20;
  }
  .report {
    min-width: 400px;
    min-height: 200px;
    height: 200px;
    width: inherit;
  }
}

.header {
  width: 100%;
  composes: headerBackground from '../../../../styles/colors.css';
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.title {
  color: #fff;
  font-size: 25px;
  text-transform: capitalize;
}

.accentButton {
  text-transform: initial;
  margin: 5px;
  background-color: #C60F25 !important;
}

.coloredButton {
  margin-left: 30px;
  background-color: #559BF8 !important;
}

.content {
  padding: 30px;
}