.patientsWrapper {
  * {
    box-sizing: border-box;
  }
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  composes: backgroundOrange from '../../../../styles/colors.css';
}
.patientsBlock {
  width: 700px;
  height: 70vh;
  display: flex;
  background-color: #FFF;
}
.createPatient {
  composes: patientsBlock;
  width: 400px;
}
.rightSection,
.leftSection {
  width: 50%;
  height: 100%;
}
.createPatient{
  margin-left: auto;
  margin-right: auto;
}
