.overlay {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #EEA62E;
}

.demoCard {
  width: 80%;
  height: 45%;
  max-width: 600px;
  max-height: 300px;
  margin: auto;
}

.title {
  width: 100%;
  height: 35%;
}

.titleText {
  height: 100%;
  text-align: center;
  font-size: 2em;
}

.supportingTextWrapper {
  width: 100%;
  height: 38%;
}

.supportingText {
  color: #000;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 0 auto;
  width: 300px;
}

.buttonWrapper {
  width: 100%;
  height: 27%;
  text-align: center;
}

.button {
  width: 90%;
  height: 63%;
  margin: 0 auto;
  font-size: 1.5em;
}