.container {
  overflow: hidden;
  :global {
    .mdl-layout__header {
      position: fixed;
    }
  }
}

.firstRow {
  min-height: 64px;
}

.button {
  font-size: 22px;
  font-weight: 400;
  line-height: 44px;
  height: 44px;
  margin: 10px;
  background-color: #ff4081;
}

.answerArea {
  padding: 10px 0;
}

.content {
  height: 100vh;
  padding-top: 64px;
  :global {
    .question-image {
      height: calc(100% - 340px);
      margin: 10px;
    }
  }
}

.answerWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  :global {
    .mdl-button {
      margin: 10px;
      font-size: 22px;
      font-weight: 400;
      line-height: 44px;
      height: 44px;
    }
    .drop-area {
      background-color: rgb(255, 255, 255);
      min-width: 120px;
      min-height: 54px;
      border: 3px dashed black;
      border-radius: 2px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
        background-color: rgb(220, 220, 220);
      }
      &.drop-ready {
        background-color: rgb(250, 250, 250);
      }
    }
    .result-input-wrapper {
      width: 70%;
    }
  }
}

.referenceWrapper {
  font-size: 44px;
  min-height: 64px;
  line-height: 64px;
  text-align: center;
}
