.content {
  height: calc(100vh - 64px);
  :global {
    .question-image {
      height: calc(100% - 300px);
      margin: 10px;
    }
  }
}

.answerWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .checkButton {
    background-color: #ff4081;
  }
}

.question {
  margin: 10px;
  cursor: auto;
}

.question,
.nextButton,
.checkButton {
  composes: ex7-button from '../../../../styles/typography.css';
}

.fakeInput {
  position: absolute;
  top: 29px;
  z-index: -1;
}

.mainInputWebkit {
  color: black;
  -webkit-text-fill-color: transparent;
}

.mainInputExplorer {
  color: transparent;
}

.charRed {
  color: red;
}

.correctAnswer {
  min-height: 20px;
  font-size: 2em;
  margin: 10px auto 30px;
  text-align: center;
}

.label,
.resultInputWrapper,
.input {
  composes: ex7-input from '../../../../styles/typography.css';
}

.resultInputWrapper {
  width: 70%;
}

.label {
  top: 28px;
  padding-top: 1px;
}