.container {
  width: 100%;
  height: 100%;
}
.header {
  composes: headerBackground from '../../../../styles/colors.css';
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding: 43px 15px 12px;
}
.content {
  padding-bottom: 5%;
  height: calc(100% - 150px);
  overflow-y: auto;
}
.row {
  padding: 10px 10px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  color: #585858;
  text-align: left;
  i {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.75);
    margin-right: 10px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
.searchInputWrapper {
  width: 100%;
}
.searchInput {
  color: #000;
  background-color: #fff;
  padding-left: 10px;
  box-sizing: border-box;
  &:focus, &:active {
    outline: 0;
  }
}
.searchIcon {
  position: absolute;
  right: 10px;
  top: 22px;
  color: #757575;
}