.answer {
  font-size: 22px;
  font-weight: 400;
  line-height: 44px;
  height: 44px;
  margin: 10px;
}

.content {
  height: calc(100vh - 64px);
  :global {
    .question-image {
      height: calc(100% - 130px);
    }
    .question-image-text {
      height: calc(100% - 300px);
    }
    .question-wrapper {
      height: 70%;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.answerWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}

.questionWrapper {
  text-align: center;
}