.header {
  composes: header from '../../components/HeaderTemplate/headerTemplate.css';
}

.headerRow {
  composes: headerRow from '../../components/HeaderTemplate/headerTemplate.css';
}

.headerLogo {
  composes: headerLogo from '../../components/HeaderTemplate/headerTemplate.css';
}

.headerLogoImage {
  composes: headerLogoImage from '../../components/HeaderTemplate/headerTemplate.css';
}

.headerSaveButton {
  composes: headerSaveButton from '../../components/HeaderTemplate/headerTemplate.css';
}

.headerNavLinks {
  composes: headerNavLinks from '../../components/HeaderTemplate/headerTemplate.css';
}

.headerLogout {
  composes: headerLogout from '../../components/HeaderTemplate/headerTemplate.css';
}

.content {
  height: 100vh;
  overflow: hidden;
}


.landingContent {
  height: 100%;
  background: url('../../../../images/landing_background.png') no-repeat 50% 50%;
  background-size: cover;
  div {
    z-index: 1;
  }
}

.landingContent::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.landingLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 51px;
  color: #fff;
  padding-top: 64px;
  a,
  div {
    text-transform: capitalize;
    border: 5px solid white;
    padding: 30px;
    cursor: pointer;
  }
  a {
    appearance: none;
    text-decoration: none;
    color: #fff;
  }
}
.modal {
}
.overlay {
  * {
    box-sizing: border-box;
  }
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visible {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.resultsOverlay {
  composes: modalOverlay from '../../../../styles/styles.css';
}

.resultsModal {
  composes: reportModal from '../../../../styles/styles.css';
  max-width: 400px;
}
