.header {
  composes: headerBackground from '../../../../styles/colors.css';
}

.headerRow {
  padding: 0 4% !important;
}

.icon {
  margin: auto 10px;
  cursor: pointer;
}

.audioButton {
  margin: auto 10px;
  cursor: pointer;
}

.title {
  margin: 0;
}