.container {
  width: 100%;
  height: 100%;
}
.header {
  composes: headerBackground from '../../../../styles/colors.css';
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(90% - 150px);
  align-items: center;
}
.input {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  label,
  input {
    font-size: 25px !important;
  }
  label {
    top: 28px;
  }
}
.button {
  width: 100%;
  text-align: center;
}