.contentSection {
  margin: 16px 16px 70px;
  background-color: #fff;
  &:last-child {
    margin-bottom: 16px;
  }
}

.supportingText {
  font-size: 16px;
  line-height: 24px;
  color: #585858;
}

.title {
  font-size: 36px;
}

.cardsField {

}