/* index.html */

body {
  background-color: #fff;
}

/*exercise view*/

.exercise-content {
  height: calc(100% - 136px);
}

.exercise-content .question-wrapper {
  height: 70%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-content .question-wrapper img {
  max-width: 70%;
  max-height: 100%;
}

.exercise-content .answers-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.exercise-content .answers-wrapper button {
  margin: 10px;
}

.answers-wrapper .mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab.mdl-button--accent {
  background-color: #ff4081;
}

.answers-wrapper .drop-area {
  background-color: rgb(255, 255, 255);
  min-width: 120px;
  min-height: 46px;
  border: 3px dashed black;
  border-radius: 2px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-border {
  border: 2px dotted red !important;
}

.answers-wrapper .drop-area.active {
  background-color: rgb(220, 220, 220);
}

.answers-wrapper .drop-area.drop-ready {
  background-color: rgb(250, 250, 250);
}

.answers-wrapper .result-input-wrapper {
  width: 70%;
}

.global-overlay {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}

/*Exercise nine*/

.exercise-content.exercise-nine {
  display: flex;
  justify-content: center;
}

.exercise-nine .answers-wrapper {
  flex-direction: column;
  height: 100%;
  width: 33%;
}

.exercise-nine .button-wrapper,
.exercise-nine .drop-area-wrapper,
.exercise-nine .reference-wrapper {
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-nine .reference-wrapper h4 {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
}

.exercise-nine .drop-area-wrapper .drop-area {
  height: 90%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.exercise-nine .button-wrapper .mdl-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 90%;
  height: 90%;
  justify-content: center;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
}

.exercise-nine .drop-area-wrapper .drop-area .button-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
}

.exercise-nine .drop-area-wrapper .drop-area .button-wrapper .mdl-button {
  margin: 0 !important;
  height: 96%;
  width: 98%;
}

.custom-drag.exercise-nine .button-wrapper {
  width: 33%;
}

@media (max-width: 1024px) {

  .exercise-card > .mdl-card__title {
    height: 100px;
  }

  .exercise-card > .mdl-card__supporting-text {
    min-height: 130px;
    height: initial;
  }

  .exercise-content .mdl-button {
    height: 44px;
    padding: 0 18px;
  }

  .mdl-layout__header-row .header-timer-wrapper {
    box-sizing: border-box;
    font-size: 1.4em;
    width: 22%;
    padding-left: 2%;
  }

  .mdl-navigation i {
    font-size: 2.3em;
  }

  .mdl-navigation .leave-exercise-button, .mdl-navigation .settings-button {
    margin: 0 20px;
  }

  .mdl-layout__header .mdl-layout__header-row {
    padding: 0;
  }

  .mdl-layout__header-row .mdl-layout-title {
    margin: 0;
    transform: none;
    height: 100%;
    width: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exercise-content .question-wrapper {
    height: 60%;
  }
}

@media (max-width: 800px) {
  .exercise-nine .reference-wrapper h4 {
    line-height: 1.3em;
  }
}

@media (max-width: 430px) {
  .mobile-warning-container .mdl-card__supporting-text {
    font-size: 1em;
    line-height: 1em;
  }
}

/*global styles*/
.modalOverlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  * {
    box-sizing: border-box;
  }
}

.settingsModal {
  position: static;
  min-height: 180px;
  min-width: 700px;
  max-width: 1280px;
  width: calc(100% - 200px);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  outline: none;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2);
}

.reportModal {
  position: static;
  max-width: 1280px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  outline: none;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2);
  min-width: 400px;
  min-height: 200px;
  height: 200px;
  width: inherit;
}