.pureSelect {
  margin-bottom: 5px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
   }
}

.label {
  display: block;
  font-family: "Helvetica","Arial",sans-serif;
  color: #757575;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
  outline: none;
  width: 100%;
}

.field {
  background: url('../../../../images/arrow_drop_down.svg') no-repeat 100% 50%;
  background-size: 30px;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  font-family: "Helvetica","Arial",sans-serif;
  color: #757575;
  font-size: 18px;
  padding: 14px 0;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #D8D8D8;
  &::-ms-expand {
    display: none;
  }
}