.content {
  height: calc(100% - 136px);
}

.imageWrapper {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.innerImageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  min-height: 70%;
  margin: auto 5%;
}

.answerWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  margin: 10px;
}

.originalText {
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin-top: 5%;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton {
  background-color: #a0a0a0;
}
