.textColor {
  color: rgba(0,0,0, 0.6);
}

.wrapper {
  height: 100vh;
  display: flex;
  background-color: #fafafa;
  align-items: center;
}

.thankYouPage {
  width: 90%;
  height: 90%;
  overflow: hidden;
  background-color: white;
}

.resultsWrapper,
.summarySection,
.buttonWrapper,
.headingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summarySection {
  height: 75%;
}

.headingWrapper {
  height: 10%;
}

.summaryWrapper {
  height: 30%;
}

.resultsWrapper {
  height: 45%;
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  height: 15%;
  button {
    font-size: 25px;
    width: 80%;
    height: 50%;
  }
}

.heading {
  font-size: 40px;
  composes: textColor;
}

.summaryHeadingWrapper {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summaryHeading {
  composes: textColor;
  font-size: 30px;
}

.summaryBlock {
  padding: 0 10px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.resultsText {
  font-size: 22px;
  composes: textColor;
  text-align: center;
  height: 40px;
  @media (max-height: 800px) {
    height: 24px;
  }
}

.greenButton {
  composes: greenButton from '../../../../styles/colors.css';
}

.chartWrapper {
  width: 100px;
  height: 100px;
  position: relative;
}

.clockIcon {
  position: absolute;
  top: -10px;
  left: -10px;
  color: #347392;
  font-size: 120px !important;
}

.resutsChartWrapper {
  width: 30vh;
  height: 30vh;
  position: relative;
  & > div {
    height: 100%;
  }
}

.resultPercentage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  composes: textColor;
  span {
    font-size: 40px;
  }
}

.correctAnswer {
  font-size: 40px;
  composes: textColor;
  margin-top: 3%;
  @media (max-height: 800px) {
    margin-top: 1%;
  }
}

.buttonWrapper {
  align-items: flex-start;
}
