.topBar {
  background-color: #e91c63;
  padding: 30px;
  margin: 80px 16px 16px;
  width: calc(100% - 32px);
  position: relative;
}

.title {
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 36px;
}

.subtitle {
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

.closeWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.closeIcon {
  font-size: 22px;
}

.plug {
  opacity: 0;
  height: 64px;
}